# Ignore Python-related files
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Env
.env
.env.*

# Alembic cache
alembic/versions/*.pyc

# Node & frontend
node_modules/
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.*

# IDE / System
.vscode/
.DS_Store
Thumbs.db
